<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.fc.main.dao.FSSDao">
    <select id="findFSSFriendIdsByUserId" resultType="int">
  		select friend_friendid
  		from friend
  		where friend_userid=#{friend_userid}
  	</select>
  	<select id="findShuoShuo" resultType="com.fc.main.entity.FriendShuoShuoDaoResult">
  	select  
			user.user_name,
			user_shuo.user_shuo_userid,
			user_shuo.user_shuo_shuoid,
			shuo.shuo_text,
			shuo.shuo_createtime,
			shuo.shuo_likecount,
			shuo_picture.shuo_picture_pictureid,
			picture.picture_src
		from user
			left join user_shuo on user_shuo.user_shuo_userid=user.user_id
			left join shuo on shuo.shuo_id=user_shuo.user_shuo_shuoid
			left join shuo_picture on shuo_picture.shuo_picture_shuoid=shuo.shuo_id
			left join picture on picture.picture_id=shuo_picture.shuo_picture_pictureid
		where
			 user.user_id in
			<foreach collection="friend_friendids"
						open="("
						close=")"
						separator=","
						item="friend_friendid">
			#{friend_friendid}
			</foreach>
		order by shuo_createtime desc
		<!--  limit #{startIndex},#{pageSize} -->
  	</select>
  	<select id="findPingLun" resultType="com.fc.main.entity.ShuoShuoPingLunResult">
  		select 
  			shuo.shuo_id, 
  			user.user_name,
			shuo_ping.shuo_ping_pingid,
			ping.ping_userid,
			ping.ping_createtime,
			ping.ping_content
		from shuo 
			left join shuo_ping on shuo.shuo_id=shuo_ping.shuo_ping_shuoid
			left join ping on shuo_ping.shuo_ping_pingid=ping.ping_id
			right join user on ping.ping_userid=user.user_id
			
		where
			shuo.shuo_id=#{shuo_id}
		order by shuo_createtime desc
  	</select>
  	<update id="updateLikeCount">
		update shuo set shuo_likecount=shuo_likecount+1 where shuo_id=#{shuo_id}
	</update>
  </mapper>